<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OptInt Web App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Main menu -->
  <!--<span style="color: red;">UNDER CONSTRUCTION - DO NOT USE</span>-->
  <fieldset>
    <legend>Main menu</legend>
    <select name="menu" id="menu">
      <option value="">Select a process to run:</option>
      <option value="1">Kelvin Wake</option>
      <option value="2">Hull Optimization</option>
      <option value="3">Resistance Predictions</option>
    </select>
  </fieldset>
  <!-- Input files -->
  <fieldset>
    <legend>Input files</legend>
    <form data-menu-1 enctype="multipart/form-data" action="/upload" method="post" style="display:none">
      <table>
        <tr>
          <td>open strut. geom. (unit 30): </td>
          <td>testit.stg</td>
          <td> | <a href='/view/testit.stg'>view</a></td>
          <td> | <a href='/download/testit.stg'>download</a></td>
          <td> | <%=stg.age%></td>
          <td> | <input type='file' name='stg' accept='.stg'></td>
          <td class="successful"><%=stg.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>base data: </td>
          <td>testit.xvf</td>
          <td> | <a href='/view/testit.xvf'>view</a></td>
          <td> | <a href='/download/testit.xvf'>download</a></td>
          <td> | <%=xvf.age%></td>
          <td> | <input type='file' name='xvf' accept='.xvf'></td>
          <td class='successful'><%=xvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
      </table>
      <button>Upload File/s</button>
    </form>
    <form data-menu-2 enctype="multipart/form-data" action="/upload" method="post" style="display:none">
      <table>
        <tr>
          <td>open hull shape (unit 32): </td>
          <td>testit.shp</td>
          <td> | <a href='/view/testit.shp'>view</a></td>
          <td> | <a href='/download/testit.shp'>download</a></td>
          <td> | <%=shp.age%></td>
          <td> | <input type='file' name='shp' accept='.shp'></td>
          <td class="successful"><%=shp.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>open strut. geom. (unit 30): </td>
          <td>testit.stg</td>
          <td> | <a href='/view/testit.stg'>view</a></td>
          <td> | <a href='/download/testit.stg'>download</a></td>
          <td> | <%=stg.age%></td>
          <td> | <input type='file' name='stg' accept='.stg'></td>
          <td class="successful"><%=stg.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>open wave spectra input file - (unit 31): </td>
          <td>testit.wav</td>
          <td> | <a href='/view/testit.wav'>view</a></td>
          <td> | <a href='/download/testit.wav'>download</a></td>
          <td> | <%=wav.age%></td>
          <td> | <input type='file' name='wav' accept='.wav'></td>
          <td class='successful'><%=wav.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>base data: </td>
          <td>testit.xvf</td>
          <td> | <a href='/view/testit.xvf'>view</a></td>
          <td> | <a href='/download/testit.xvf'>download</a></td>
          <td> | <%=xvf.age%></td>
          <td> | <input type='file' name='xvf' accept='.xvf'></td>
          <td class='successful'><%=xvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
      </table>
    </form>
    <form data-menu-3 enctype="multipart/form-data" action="/upload" method="post" style="display:none">
      <table>
        <tr>
          <td>open hull shape (unit 32): </td>
          <td>testit.shp</td>
          <td> | <a href='/view/testit.shp'>view</a></td>
          <td> | <a href='/download/testit.shp'>download</a></td>
          <td> | <%=shp.age%></td>
          <td> | <input type='file' name='shp' accept='.shp'></td>
          <td class="successful"><%=shp.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>base data: </td>
          <td>testit.xvf</td>
          <td> | <a href='/view/testit.xvf'>view</a></td>
          <td> | <a href='/download/testit.xvf'>download</a></td>
          <td> | <%=xvf.age%></td>
          <td> | <input type='file' name='xvf' accept='.xvf'></td>
          <td class='successful'><%=xvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>vv data file: </td>
          <td>testit.vvf</td>
          <td> | <a href='/view/testit.vvf'>view</a></td>
          <td> | <a href='/download/testit.vvf'>download</a></td>
          <td> | <%=vvf.age%></td>
          <td> | <input type='file' name='vvf' accept='.vvf'></td>
          <td class='successful'> <%=vvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
      </table>
      <button>Upload File/s</button>
    </form>    
  </fieldset>
  <!-- Data edits -->
  <fieldset>
    <legend>Edit input data</legend>
    <form data-menu-1 action='/run' method='post' style="display:none">
      <table>
        <tr style="font-weight: bold;"><td>testit.xvf - edit vector data</td><td>Current value</td><td>New value (decimal notation)</td></tr>
        <tr><td>1. number of hulls: </td><td>[<%=xvf.content[0]%>]</td><td><input name="xvf" placeholder="e.g. 1"></td></tr>
        <tr><td>2. y coordinate of hull centerline: </td><td>[<%=xvf.content[1]%>]</td><td><input name="xvf" placeholder="e.g. 0"></td></tr>
        <tr><td>3. optimization velocity (knots): </td><td>[<%=xvf.content[2]%>]</td><td><input name="xvf" placeholder="e.g. 12"></td></tr>
        <tr><td>4. overall ship length (for spectral range): </td><td>[<%=xvf.content[3]%>]</td><td><input name="xvf" placeholder="e.g. 140"></td></tr>
      </table>
      <button>Run Kelvin Wake Process</button>
    </form>
    <form data-menu-2 action="/run" method="post" style="display:none;">
      <table id='option-2-table'>
        <tr><td>submerged hull geometry file label: </td><td><input type="text" name="label"></td></tr>

        <!--
        <tr><td>43. longitudinal center of bouyancy [<%=xvf.content[42]%>]: </td><td><input type="text" name="xvf"></td></tr>
        <tr><td>44. ship displacement (long tons) [<%=xvf.content[43]%>]: </td><td><input type="text" name="xvf"></td></tr>
        <tr><td>45. opt. param. (1=drag, 2=height, 3=slope) [<%=xvf.content[44]%>]: </td><td><input type="text" name="xvf"></td></tr>
        <tr><td>46. reasonablenes factor alpha (0&lt;alpha&lt;1) [<%=xvf.content[45]%>]: </td><td><input type="text" name="xvf"></td></tr>
        -->
      </table>
    </form>
    <form data-menu-3 action='/run' method='post' style="display:none">
      <table>
        <tr style="font-weight: bold;"><td>testit.xvf - edit vector data</td><td>Current value</td><td>New value (decimal notation)</td></tr>
        <tr><td>1. number of hulls: </td><td>[<%=xvf.content[0]%>]</td><td><input name="xvf" placeholder="e.g. 1"></td></tr>
        <tr><td>2. y coordinate of hull centerline: </td><td>[<%=xvf.content[1]%>]</td><td><input name="xvf" placeholder="e.g. 0"></td></tr>
        <tr><td>3. optimization velocity (knots): </td><td>[<%=xvf.content[2]%>]</td><td><input name="xvf" placeholder="e.g. 12"></td></tr>
        <tr><td>4. overall ship length (for spectral range): </td><td>[<%=xvf.content[3]%>]</td><td><input name="xvf" placeholder="e.g. 140"></td></tr>
        <tr><td>5. char. length of one hull (not used): </td><td>[<%=xvf.content[4]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>6. wetted area of one hull ("): </td><td>[<%=xvf.content[5]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>7. number of struts per side (for spray): </td><td>[<%=xvf.content[6]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>8. no. of velocities to run (1 if first pass): </td><td>[<%=xvf.content[7]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>9. scale factor: </td><td>[<%=xvf.content[8]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>10. overall efficiency (ehp/bhp): </td><td>[<%=xvf.content[9]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>11. spray drag flag (1 if no spray drag): </td><td>[<%=xvf.content[10]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>12. option flag for strut drag coeff.: </td><td>[<%=xvf.content[11]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>13. option flag for lower hull drag coeff.: </td><td>[<%=xvf.content[12]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>...</td><td></td><td></td></tr>
        <tr><td>22. prop guard planform area (spg): </td><td>[<%=xvf.content[21]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>23. prop guard chord (pgchrd): </td><td>[<%=xvf.content[22]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>24. prop guard thickness/chord (pgtcr): </td><td>[<%=xvf.content[23]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>25. canard planform area (sc): </td><td>[<%=xvf.content[24]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>26. canard chord (cchrd): </td><td>[<%=xvf.content[25]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>27. canard thickness/chord (ctcr): </td><td>[<%=xvf.content[26]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>28. stabilizer planform area (ss): </td><td>[<%=xvf.content[27]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>29. stabilizer chord (schrd): </td><td>[<%=xvf.content[28]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>30. stabilizer thickness/chord (stcr): </td><td>[<%=xvf.content[29]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>31. rudder planform area (sr): </td><td>[<%=xvf.content[30]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>32. rudder chord (rchrd): </td><td>[<%=xvf.content[31]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>33. rudder thickness/chord (rtcr): </td><td>[<%=xvf.content[32]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>34. strut tip chord (ctst): </td><td>[<%=xvf.content[33]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>35. strut root chord (crst): </td><td>[<%=xvf.content[34]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>36. strut span (stspan): </td><td>[<%=xvf.content[35]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>37. strut thickness/chord (sttcr): </td><td>[<%=xvf.content[36]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>38. length of lower hull (llh) (not used): </td><td>[<%=xvf.content[37]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>39. diameter of lower hull ? (dhull) ("): </td><td>[<%=xvf.content[38]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>40. strut wetted surface area (swet) ("): </td><td>[<%=xvf.content[39]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>41. lower hull wetted surface area (hwet) ("): </td><td>[<%=xvf.content[40]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>42. frontal area (afront): </td><td>[<%=xvf.content[41]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>...</td><td></td><td></td></tr>
        <tr style="font-weight: bold;"><td>testit.vvf - edit velocity data</td><td>Current Value</td><td>New Value (decimal notation)</td></tr>
        <tr><td># of velocities: </td><td>[<%=vvf.content[0]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #1: </td><td>[<%=vvf.content[1]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #2: </td><td>[<%=vvf.content[2]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #3: </td><td>[<%=vvf.content[3]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #4: </td><td>[<%=vvf.content[4]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #5: </td><td>[<%=vvf.content[5]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #6: </td><td>[<%=vvf.content[6]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #7: </td><td>[<%=vvf.content[7]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #8: </td><td>[<%=vvf.content[8]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #9: </td><td>[<%=vvf.content[9]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #10: </td><td>[<%=vvf.content[10]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #11: </td><td>[<%=vvf.content[11]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #12: </td><td>[<%=vvf.content[12]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #13: </td><td>[<%=vvf.content[13]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #14: </td><td>[<%=vvf.content[14]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #15: </td><td>[<%=vvf.content[15]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #16: </td><td>[<%=vvf.content[16]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #17: </td><td>[<%=vvf.content[17]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #18: </td><td>[<%=vvf.content[18]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #19: </td><td>[<%=vvf.content[19]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #20: </td><td>[<%=vvf.content[20]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #21: </td><td>[<%=vvf.content[21]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #22: </td><td>[<%=vvf.content[22]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #23: </td><td>[<%=vvf.content[23]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #24: </td><td>[<%=vvf.content[24]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #25: </td><td>[<%=vvf.content[25]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #26: </td><td>[<%=vvf.content[26]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #27: </td><td>[<%=vvf.content[27]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #28: </td><td>[<%=vvf.content[28]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #29: </td><td>[<%=vvf.content[29]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #30: </td><td>[<%=vvf.content[30]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #31: </td><td>[<%=vvf.content[31]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #32: </td><td>[<%=vvf.content[32]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #33: </td><td>[<%=vvf.content[33]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #34: </td><td>[<%=vvf.content[34]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #35: </td><td>[<%=vvf.content[35]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #36: </td><td>[<%=vvf.content[36]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #37: </td><td>[<%=vvf.content[37]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #38: </td><td>[<%=vvf.content[38]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #39: </td><td>[<%=vvf.content[39]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #40: </td><td>[<%=vvf.content[40]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #41: </td><td>[<%=vvf.content[41]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #42: </td><td>[<%=vvf.content[42]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #43: </td><td>[<%=vvf.content[43]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #44: </td><td>[<%=vvf.content[44]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #45: </td><td>[<%=vvf.content[45]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #46: </td><td>[<%=vvf.content[46]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #47: </td><td>[<%=vvf.content[47]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #48: </td><td>[<%=vvf.content[48]%>]</td><td><input name="vvf"></td></tr>
        <tr><td>velocity #49: </td><td>[<%=vvf.content[49]%>]</td><td><input name="vvf"></td></tr>
      </table>
      <button>Run Resistance Predictions Process</button>
    </form>
  </fieldset>
  <!-- Output files -->
  <fieldset>
    <legend>Output files</legend>
    <table data-menu-1 style="display:none">
      <tr>
        <td>wave-data output (unit 31): </td>
        <td>testit.wav [<a href='/download/testit.wav.ssv' download="">.wav.ssv</a>]</td>
        <td> | <a href='/view/testit.wav'>view</a></td>
        <td> | <a href='/download/testit.wav' download="">download</a></td>
        <td> | <%=wav.age%></td>
      </tr>
      <tr>
        <td>main output (unit 2): </td>
        <td>testit.op1</td>
        <td> | <a href='/view/testit.op1'>view</a></td>
        <td> | <a href='/download/testit.op1'>download</a></td>
        <td> | <%=op1.age%></td>
      </tr>
      <tr>
        <td>fort41: </td>
        <td>fort41</td>
        <td> | <a href='/view/FORT41'>view</a></td>
        <td> | <a href='/download/FORT41'>download</a></td>
        <td> | <%=FORT41.age%></td>
      </tr>
      <tr>
        <td>terminal output: </td>
        <td>terminal-output.txt</td>
        <td> | <a href='/view/terminal-output.txt'>view</a></td>
        <td> | <a href='/download/terminal-output.txt'>download</a></td>
        <td> | <%=out.age%></td>
      </tr>
    </table>
    <table data-menu-2 style="display:none">
      <tr>
        <td>main optjm output (unit 2): </td>
        <td>testit.op2</td>
        <td> | <a href='/view/testit.op2'>view</a></td>
        <td> | <a href='/download/testit.op2'>download</a></td>
        <td> | <%=op2.age%></td>
      </tr>
      <tr>
        <td>submerged shape output (unit 32): </td>
        <td>testit.hlg</td>
        <td> | <a href='/view/testit.hlg'>view</a></td>
        <td> | <a href='/download/testit.hlg'>download</a></td>
        <td> | <%=hlg.age%></td>
      </tr>
      <tr>
        <td>terminal output: </td>
        <td>terminal-output.txt</td>
        <td> | <a href='/view/terminal-output.txt'>view</a></td>
        <td> | <a href='/download/terminal-output.txt'>download</a></td>
        <td> | <%=out.age%></td>
      </tr>
    </table>
    <table data-menu-3 style="display:none">
      <tr>
        <td>main output (unit 2): </td>
        <td>testit.op3</td>
        <td> | <a href='/view/testit.op3'>view</a></td>
        <td> | <a href='/download/testit.op3'>download</a></td>
        <td> | <%=op3.age%></td>
      </tr>
      <tr>
        <td>condensed open summary (unit 7): </td>
        <td>testit.op4</td>
        <td> | <a href='/view/testit.op4'>view</a></td>
        <td> | <a href='/download/testit.op4'>download</a></td>
        <td> | <%=op4.age%></td>
      </tr>
      <tr>
        <td>plot data 1: </td>
        <td>testit.pl1</td>
        <td> | <a href='/view/testit.pl1'>view</a></td>
        <td> | <a href='/download/testit.pl1'>download</a></td>
        <td> | <%=pl1.age%></td>
      </tr>
      <tr>
        <td>plot data 2: </td>
        <td>testit.pl2</td>
        <td> | <a href='/view/testit.pl2'>view</a></td>
        <td> | <a href='/download/testit.pl2'>download</a></td>
        <td> | <%=pl2.age%></td>
      </tr>
      <tr>
        <td>plot data 3: </td>
        <td>testit.pl3</td>
        <td> | <a href='/view/testit.pl3'>view</a></td>
        <td> | <a href='/download/testit.pl3'>download</a></td>
        <td> | <%=pl3.age%></td>
      </tr>
      <tr>
        <td>plot data 4: </td>
        <td>testit.pl4</td>
        <td> | <a href='/view/testit.pl4'>view</a></td>
        <td> | <a href='/download/testit.pl4'>download</a></td>
        <td> | <%=pl4.age%></td>
      </tr>
      <tr>
        <td>plot data 5: </td>
        <td>testit.pl5</td>
        <td> | <a href='/view/testit.pl5'>view</a></td>
        <td> | <a href='/download/testit.pl5'>download</a></td>
        <td> | <%=pl5.age%></td>
      </tr>
      <tr>
        <td>terminal output: </td>
        <td>terminal-output.txt</td>
        <td> | <a href='/view/terminal-output.txt'>view</a></td>
        <td> | <a href='/download/terminal-output.txt'>download</a></td>
        <td> | <%=out.age%></td>
      </tr>
    </table>
  </fieldset>  
  <script>
    const previousMenu = '<%=menu%>';
    var xvfContent = '<%=xvf.content%>';
    xvfContent = xvfContent.split(',');
  </script>
  <script src="./index.js"></script>
</body>
</html>