<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OptInt Web App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Main menu -->
  <span style="color: red;">UNDER CONSTRUCTION - DO NOT USE</span>
  <fieldset>
    <legend>Main menu</legend>
    <table>
      <tr>
        <td>Select from the following: </td>
        <td>
          <select name="menu" id="menu" form="data-edits-form">
            <option value=""> 
            <option value="1" disabled>1.  DATA FILE PROCESSING (LIST, CHANGE)</option>
            <option value="2">2.  KELRAM MODULE - FIRST PASS</option>
            <option value="3" disabled>3.  OPTRAM MODULE</option>
            <option value="4" disabled>4.  BODYS MODULE</option>
            <option value="5">5.  KELRAM MODULE - SECOND PASS</option>
            <option value="6" disabled>6.  LIST DATA DISKETTE DIRECTORY</option>
            <option value="7" disabled>7.  MAKE SCREEN PLOT</option>
            <option value="8" disabled>8.  MAKE PRINTER PLOT</option>
            <option value="0" disabled>0.  TERMINATE SESSION</option>
          </select>
        </td>
      </tr>
    </table>
  </fieldset>
  <!-- Input files -->
  <fieldset>
    <legend>Input files</legend>
    <form id="option-2-input-files-form" enctype="multipart/form-data" action="/" method="post" style="display:none">
      <table>
        <tr>
          <td>open strut. geom. (unit 30): </td>
          <td>testit.stg</td>
          <td> | <a href='/view/testit.stg'>view</a></td>
          <td> | <a href='/download/testit.stg'>download</a></td>
          <td> | <%=stg.age%></td>
          <td> | <input type='file' name='stg' accept='.stg'></td>
          <td class="successful"><%=stg.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>base data: </td>
          <td>testit.xvf</td>
          <td> | <a href='/view/testit.xvf'>view</a></td>
          <td> | <a href='/download/testit.xvf'>download</a></td>
          <td> | <%=xvf.age%></td>
          <td> | <input type='file' name='xvf' accept='.xvf'></td>
          <td class='successful'><%=xvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
      </table>
      <button>Upload File/s</button>
    </form>
    <form id="option-5-input-files-form" enctype="multipart/form-data" action="/" method="post" style="display:none">
      <table>
        <tr>
          <td>open hull shape (unit 32): </td>
          <td>testit.shp</td>
          <td> | <a href='/view/testit.shp'>view</a></td>
          <td> | <a href='/download/testit.shp'>download</a></td>
          <td> | <%=shp.age%></td>
          <td> | <input type='file' name='shp' accept='.shp'></td>
          <td class="successful"><%=shp.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>base data: </td>
          <td>testit.xvf</td>
          <td> | <a href='/view/testit.xvf'>view</a></td>
          <td> | <a href='/download/testit.xvf'>download</a></td>
          <td> | <%=xvf.age%></td>
          <td> | <input type='file' name='xvf' accept='.xvf'></td>
          <td class='successful'><%=xvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
        <tr>
          <td>vv data file: </td>
          <td>testit.vvf</td>
          <td> | <a href='/view/testit.vvf'>view</a></td>
          <td> | <a href='/download/testit.vvf'>download</a></td>
          <td> | <%=vvf.age%></td>
          <td> | <input type='file' name='vvf' accept='.vvf'></td>
          <td class='successful'> <%=vvf.uploaded ? ' | upload successful' : ''%></td>
        </tr>
      </table>
      <button>Upload File/s</button>
    </form>    
  </fieldset>
  <!-- Data edits -->
  <fieldset>
    <legend>Edit input data</legend>
    <form id="option-2-edit-data-form" action='/' method='post' style="display:none">
      <table>
        <tr><td>testit.xvf - edit vector data</td><td>Current value</td><td>New value (decimal notation)</td></tr>
        <tr><td>1. number of hulls: </td><td>[<%=xvf.content[0]%>]</td><td><input name="xvf" placeholder="e.g. 1"></td></tr>
        <tr><td>2. y coordinate of hull centerline: </td><td>[<%=xvf.content[1]%>]</td><td><input name="xvf" placeholder="e.g. 0"></td></tr>
        <tr><td>3. optimization velocity (knots): </td><td>[<%=xvf.content[2]%>]</td><td><input name="xvf" placeholder="e.g. 12"></td></tr>
        <tr><td>4. overall ship length (for spectral range): </td><td>[<%=xvf.content[3]%>]</td><td><input name="xvf" placeholder="e.g. 140"></td></tr>
      </table>
      <button>Run Kelram Module - First Pass</button>
    </form>
    <form id="option-5-edit-data-form" action='/' method='post' style="display:none">
      <table>
        <tr><td>testit.xvf - edit vector data</td><td>Current value</td><td>New value (decimal notation)</td></tr>
        <tr><td>1. number of hulls: </td><td>[<%=xvf.content[0]%>]</td><td><input name="xvf" placeholder="e.g. 1"></td></tr>
        <tr><td>2. y coordinate of hull centerline: </td><td>[<%=xvf.content[1]%>]</td><td><input name="xvf" placeholder="e.g. 0"></td></tr>
        <tr><td>3. optimization velocity (knots): </td><td>[<%=xvf.content[2]%>]</td><td><input name="xvf" placeholder="e.g. 12"></td></tr>
        <tr><td>4. overall ship length (for spectral range): </td><td>[<%=xvf.content[3]%>]</td><td><input name="xvf" placeholder="e.g. 140"></td></tr>
        <tr><td>5. char. length of one hull (not used): </td><td>[<%=xvf.content[4]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>6. wetted area of one hull ("): </td><td>[<%=xvf.content[5]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>7. number of struts per side (for spray): </td><td>[<%=xvf.content[6]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>8. no. of velocities to run (1 if first pass): </td><td>[<%=xvf.content[7]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>9. scale factor: </td><td>[<%=xvf.content[8]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>10. overall efficiency (ehp/bhp): </td><td>[<%=xvf.content[9]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>11. spray drag flag (1 if no spray drag): </td><td>[<%=xvf.content[10]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>12. option flag for strut drag coeff.: </td><td>[<%=xvf.content[11]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>13. option flag for lower hull drag coeff.: </td><td>[<%=xvf.content[12]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>-----------------</td><td></td><td></td></tr>
        <tr><td>22. prop guard planform area (spg): </td><td>[<%=xvf.content[21]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>23. prop guard chord (pgchrd): </td><td>[<%=xvf.content[22]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>24. prop guard thickness/chord (pgtcr): </td><td>[<%=xvf.content[23]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>25. canard planform area (sc): </td><td>[<%=xvf.content[24]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>26. canard chord (cchrd): </td><td>[<%=xvf.content[25]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>27. canard thickness/chord (ctcr): </td><td>[<%=xvf.content[26]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>28. stabilizer planform area (ss): </td><td>[<%=xvf.content[27]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>29. stabilizer chord (schrd): </td><td>[<%=xvf.content[28]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>30. stabilizer thickness/chord (stcr): </td><td>[<%=xvf.content[29]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>31. rudder planform area (sr): </td><td>[<%=xvf.content[30]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>32. rudder chord (rchrd): </td><td>[<%=xvf.content[31]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>33. rudder thickness/chord (rtcr): </td><td>[<%=xvf.content[32]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>34. strut tip chord (ctst): </td><td>[<%=xvf.content[33]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>35. strut root chord (crst): </td><td>[<%=xvf.content[34]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>36. strut span (stspan): </td><td>[<%=xvf.content[35]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>37. strut thickness/chord (sttcr): </td><td>[<%=xvf.content[36]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>38. length of lower hull (llh) (not used): </td><td>[<%=xvf.content[37]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>39. diameter of lower hull ? (dhull) ("): </td><td>[<%=xvf.content[38]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>40. strut wetted surface area (swet) ("): </td><td>[<%=xvf.content[39]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>41. lower hull wetted surface area (hwet) ("): </td><td>[<%=xvf.content[40]%>]</td><td><input name="xvf"></td></tr>
        <tr><td>42. frontal area (afront): </td><td>[<%=xvf.content[41]%>]</td><td><input name="xvf"></td></tr>
      </table>
      <button>Run Kelram Module - First Pass</button>
    </form>
  </fieldset>
  <!-- Output files -->
  <fieldset>
    <legend>Output files</legend>
    <table id="option-2-output-files-table" style="display:none">
      <tr>
        <td>wave-data output (unit 31): </td>
        <td>testit.wav [<a href='/download/testit.wav.ssv' download="">.wav.ssv</a>]</td>
        <td> | <a href='/view/testit.wav'>view</a></td>
        <td> | <a href='/download/testit.wav' download="">download</a></td>
        <td> | <%=wav.age%></td>
      </tr>
      <tr>
        <td>main output (unit 2): </td>
        <td>testit.op1</td>
        <td> | <a href='/view/testit.op1'>view</a></td>
        <td> | <a href='/download/testit.op1'>download</a></td>
        <td> | <%=op1.age%></td>
      </tr>
      <tr>
        <td>fort41: </td>
        <td>fort41</td>
        <td> | <a href='/view/FORT41'>view</a></td>
        <td> | <a href='/download/FORT41'>download</a></td>
        <td> | <%=FORT41.age%></td>
      </tr>
      <tr>
        <td>terminal output: </td>
        <td>terminal-output.txt</td>
        <td> | <a href='/view/terminal-output.txt'>view</a></td>
        <td> | <a href='/download/terminal-output.txt'>download</a></td>
        <td> | <%=out.age%></td>
      </tr>
    </table>
    <table id="option-5-output-files-table" style="display:none">
      <tr>
        <td>main output (unit 2): </td>
        <td>testit.op3</td>
        <td> | <a href='/view/testit.op3'>view</a></td>
        <td> | <a href='/download/testit.op3'>download</a></td>
        <td> | <%=op3.age%></td>
      </tr>
      <tr>
        <td>condensed open summary (unit 7): </td>
        <td>testit.op4</td>
        <td> | <a href='/view/testit.op4'>view</a></td>
        <td> | <a href='/download/testit.op4'>download</a></td>
        <td> | <%=op4.age%></td>
      </tr>
      <tr>
        <td>plot data 1: </td>
        <td>testit.pl1</td>
        <td> | <a href='/view/testit.pl1'>view</a></td>
        <td> | <a href='/download/testit.pl1'>download</a></td>
        <td> | <%=pl1.age%></td>
      </tr>
      <tr>
        <td>plot data 2: </td>
        <td>testit.pl2</td>
        <td> | <a href='/view/testit.pl2'>view</a></td>
        <td> | <a href='/download/testit.pl2'>download</a></td>
        <td> | <%=pl2.age%></td>
      </tr>
      <tr>
        <td>plot data 3: </td>
        <td>testit.pl3</td>
        <td> | <a href='/view/testit.pl3'>view</a></td>
        <td> | <a href='/download/testit.pl3'>download</a></td>
        <td> | <%=pl3.age%></td>
      </tr>
      <tr>
        <td>plot data 4: </td>
        <td>testit.pl4</td>
        <td> | <a href='/view/testit.pl4'>view</a></td>
        <td> | <a href='/download/testit.pl4'>download</a></td>
        <td> | <%=pl4.age%></td>
      </tr>
      <tr>
        <td>plot data 5: </td>
        <td>testit.pl5</td>
        <td> | <a href='/view/testit.pl5'>view</a></td>
        <td> | <a href='/download/testit.pl5'>download</a></td>
        <td> | <%=pl5.age%></td>
      </tr>
      <tr>
        <td>terminal output: </td>
        <td>terminal-output.txt</td>
        <td> | <a href='/view/terminal-output.txt'>view</a></td>
        <td> | <a href='/download/terminal-output.txt'>download</a></td>
        <td> | <%=out.age%></td>
      </tr>
    </table>
  </fieldset>  
  <script src="./index.js"></script>
</body>
</html>